@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdzenie emaila";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<p>Mozesz teraz się zalogować tutaj: <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Kliknij tutaj</a>       </p>
