@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
<p>
        Sprawdź swoją skrzynkę odbiorczą i potwierdź rejestrację.
</p>
 }

