@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie zmiany hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
   Twoje hasło zostało zresetowane. Zaloguj się  <a asp-page="./Login">klikając tutaj</a>.
</p>
