@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj na naszej stronie</h1>
    <p>Strona oddajemy.pl to strona na której możesz wystawić rzeczy których już nie potrzebujesz, lub możesz przeglądać przedmioty wystawione przez inne osoby</p>
</div>
